.phraseContainer {
  display: flex;
  flex-direction: row-reverse;
  padding: 2rem 1rem;
}

.formContainer {
  width: 100vw;
}
.formOuter {
  display: flex;
  justify-content: center;
}
.formIner {
  display: flex;
  flex-direction: row-reverse;
  gap: 5rem;
  max-width: 50rem;
  justify-content: space-evenly;
}
.inputField {
  font-size: 3rem;
}
.btnContainer {
  display: flex;
  justify-content: flex-end;
}
.inputBtn {
  width: 8rem;
  height: 8rem;
}
