.dragContainerBase {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
  justify-content: center;
}
.dragContainer {
  width: 70px;
  height: 70px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}
.phrase{
  margin-left: 3rem;

}
.choises {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
